<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <li>
    <%= restaurant.name %> | <%= restaurant.address %> | <em><%= restaurant.category %></em>
    <%= link_to "See details", restaurant_path(restaurant), class: "btn btn-primary"%>
  </li>
<% end %>
